<%= form_for @q, url: divides_list_ajax_path, method: :get, html: {class: "form-horizontal"}, remote: true do |f| %>
  <%= f.label :name_cont %>
  <%= f.text_field :name_cont %>
  <%= f.submit "Search" %>
<% end %>
<% if @divides.present? %>
  <% @divides.each do |divide| %>
    <%= divide.name %>
    <span class="sprite-bor<%= divide.id %>"></span>
    <button type="button" class="divide_choose btn btn-default" data-value="<%= divide.id %>" data-target="rel_hero_divide_divide_id" data-divide="hero_divide">選択</button>
  <% end %>
<% end %>