<span id="data" data-banners="<%= @banners.to_json(Banner.compact_json) %>"></span>

<h2>バーナー一覧</h2>
<div class="row" ng-controller="BannersCtrl" ng-init="init()" ng-show="banners.length > 0">
  <table class="table">
    <tr>
      <th><%= Banner.human_attribute_name(:blog_id) %></th>
      <th><%= Banner.human_attribute_name(:blog_pr_text) %></th>
      <th><%= Banner.human_attribute_name(:created_at) %></th>
      <th></th>
    </tr>
    <tr ng-repeat="banner in banners">
      <th>{{banner.blog_id}}</th>
      <th>{{banner.blog_id}}</th>
      <th>{{banner.blog_id}}</th>
      <th><button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#editBannerModal" ng-click="edit(banner)">編集</button></th>
    </tr>

  </table>
  <%= render 'edit_modal' %>
</div>
