<h1>Hero and Divide</h1>
<%= form_for @q, url: rel_hero_divides_path, method: :get, html: {class: "form-horizontal"}, remote: true do |f| %>
  <%= f.label :hero_id_eq %>
  <%= f.number_field :hero_id_eq %>
  <%= f.label :divide_id_eq %>
  <%= f.number_field :divide_id_eq %>
  <%= f.submit "Search" %>
<% end %>
<div id="search_result"></div>
<br>
<%= link_to "Add new", new_rel_hero_divide_path %>