<h1>Hero and Divide</h1>
<% if @rel_hero_divides.present? %>
  <ul>
      <% @rel_hero_divides.each do |rel_hero_divide| %>
        <%= Hero.find(rel_hero_divide.hero_id).name %>
        -------
        <%= Divide.find(rel_hero_divide.divide_id).name %>
        <br>
        <div class="bor">
          <i class="sprite-bor1"></i>
        </div>
        <%= image_tag Hero.find(rel_hero_divide.hero_id).img_path %>
        <br>
        <%= link_to "Edit", edit_rel_hero_divide_path(rel_hero_divide) %>
        <%= link_to "Remove", rel_hero_divide_path(rel_hero_divide), method: :delete,
                                       data: { confirm: "You sure?" } %>
        <br>
      <% end %>
  </ul>
  <%= link_to "Add more", new_rel_hero_divide_path %>
<% else %>
  No record
  <br>
  <%= link_to "Add new", new_rel_hero_divide_path %>
<% end %>