<h1>Hero and Divide</h1>
<%= form_for @q, url: rel_hero_divides_path, method: :get, html: {class: "form-horizontal"} do |f| %>
  <%= f.label :hero_id_eq %>
  <%= f.number_field :hero_id_eq %>
  <%= f.label :divide_id_eq %>
  <%= f.number_field :divide_id_eq %>
  <%= f.submit "Search" %>
<% end %>
<div class="row" id="relHeroDivideList">
  <% @rel_hero_divides.each do |rel| %>
    <div class="col-xs-4">
      <div class="bor" data-hero-id="<%= rel.hero_id%>" data-divide-id="<%= rel.divide_id %>">
        <i class="sprite-bor<%= rel.divide_id %>"></i>
      </div>
      <%= image_tag rel.hero.img_path %>
    </div>
  <% end %>
</div>
<br>
<%= link_to "Add new", new_rel_hero_divide_path %>