<div class="modal fade" id="heroModal" tabindex="-1" role="dialog" aria-labelledby="heroEditModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">ヒーロー詳細</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-info fade in" role="alert" ng-show="success">{{ success }}</div>
        <div class="alert alert-block alert-danger fade in" role="alert" ng-show="errors.length > 0">
          <span ng-repeat="err in errors">
            {{ err }}<br/>
          </span>
        </div>
        <form class="form-horizontal row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-4 control-label"><%= Hero.human_attribute_name(:name) %></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="<%= Hero.human_attribute_name(:name) %>" ng-model="hero.name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><%= Hero.human_attribute_name(:description) %></label>
              <div class="col-sm-8">
                <textarea rows="6" class="form-control" placeholder="<%= Hero.human_attribute_name(:description) %>" ng-model="hero.description"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><%= Hero.human_attribute_name(:base_star) %></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="<%= Hero.human_attribute_name(:base_star) %>" ng-model="hero.base_star">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><%= Hero.human_attribute_name(:rcm_star) %></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="<%= Hero.human_attribute_name(:rcm_star) %>" ng-model="hero.rcm_star">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><%= Hero.human_attribute_name(:get_start_dif) %></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="<%= Hero.human_attribute_name(:get_start_dif) %>" ng-model="hero.get_start_dif">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><%= Hero.human_attribute_name(:grant_star_dif) %></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="<%= Hero.human_attribute_name(:grant_star_dif) %>" ng-model="hero.grant_star_dif">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><%= Hero.human_attribute_name(:damage_point) %></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="<%= Hero.human_attribute_name(:damage_point) %>" ng-model="hero.damage_point">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><%= Hero.human_attribute_name(:team_support_point) %></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="<%= Hero.human_attribute_name(:team_support_point) %>" ng-model="hero.team_support_point">
              </div>
            </div>
            <div class="form-group" ng-if="hero.id">
              <label class="col-md-6 col-md-offset-3"><%= Hero.human_attribute_name(:grown_levels) %></label>
              <div class="col-sm-12">
                <%= render partial: "grown_levels" %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-4 control-label"><%= Hero.human_attribute_name(:str_point) %></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="<%= Hero.human_attribute_name(:str_point) %>" ng-model="hero.str_point">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><%= Hero.human_attribute_name(:int_point) %></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="<%= Hero.human_attribute_name(:int_point) %>" ng-model="hero.int_point">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><%= Hero.human_attribute_name(:agi_point) %></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="<%= Hero.human_attribute_name(:agi_point) %>" ng-model="hero.agi_point">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><%= Hero.human_attribute_name(:max_hp) %></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="<%= Hero.human_attribute_name(:max_hp) %>" ng-model="hero.max_hp">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><%= Hero.human_attribute_name(:physic_dmg) %></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="<%= Hero.human_attribute_name(:physic_dmg) %>" ng-model="hero.physic_dmg">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><%= Hero.human_attribute_name(:magic_dmg) %></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="<%= Hero.human_attribute_name(:magic_dmg) %>" ng-model="hero.magic_dmg">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><%= Hero.human_attribute_name(:magic_regist) %></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="<%= Hero.human_attribute_name(:magic_regist) %>" ng-model="hero.magic_regist">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><%= Hero.human_attribute_name(:physic_shield) %></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="<%= Hero.human_attribute_name(:physic_shield) %>" ng-model="hero.physic_shield">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><%= Hero.human_attribute_name(:physic_chaos) %></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="<%= Hero.human_attribute_name(:physic_chaos) %>" ng-model="hero.physic_chaos">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><%= Hero.human_attribute_name(:position) %></label>
              <div class="col-sm-8">
                <select class="form-control" ng-options="k*1 as v for (k, v) in MASTERS.hero_positions" ng-model="hero.position">
                  <option value="">選択</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><%= Hero.human_attribute_name(:img_url) %></label>
              <div class="col-sm-8">
                <input type="text" style="display:none" class="form-control" ng-model="hero.img_url">
                <img ng-src="{{heroImg}}"/>
                <button class="btn btn-primary btn-xs" ng-click="chooseImage()">選択</button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12 select-img-box">
                <select class="image-picker show-html">
                  <option ng-repeat="img in images" data-img-src="{{img}}" value="{{$index}}"> {{$index}}</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉める</button>
        <button type="button" class="btn btn-primary" ng-click="save(hero)">更新</button>
      </div>
    </div>
  </div>
</div
